n8n/update-suburb-workflow.json
{
  "name": "RECOMELB — Weekly Suburb Data Update",
  "_comment": {
    "architecture": [
      "Schedule trigger → POST /api/run-scraper → split rows → Google Sheets update",
      "",
      "Flow:",
      "  1. Every Monday 6am: trigger fires",
      "  2. HTTP POST to /api/run-scraper (Playwright scraper on your server)",
      "     Returns: { suburbs: [{ name, median, dom, clearance, rental_yield }] }",
      "  3. Split Items: one item per suburb",
      "  4. Google Sheets: update matching row in suburb_data tab",
      "  5. Log success or failure"
    ],
    "setup": [
      "In n8n Settings → Variables, set:",
      "  RECOMELB_URL    = http://localhost:3000  (or your server URL)",
      "  UPDATE_API_KEY  = recomelb-update-2025   (matches .env.local)",
      "",
      "In the Google Sheets node:",
      "  - Connect your Google account via n8n credentials",
      "  - Set Spreadsheet ID to your sheet ID",
      "  - Set Sheet Name to: suburb_data",
      "  - Match column: suburb (text equals {{ $json.name }})",
      "  - Update columns: median_price, dom, clearance_rate, rental_yield",
      "",
      "NOTE: /api/run-scraper uses Playwright (real browser).",
      "It must run on a server with Chromium installed — not Vercel serverless.",
      "Point RECOMELB_URL at your local dev server or a VPS."
    ]
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Every Monday 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.RECOMELB_URL }}/api/run-scraper",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.UPDATE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 130000,
          "response": { "response": { "fullResponse": false } }
        }
      },
      "id": "node-scraper",
      "name": "Run Playwright Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "suburbs",
        "options": {}
      },
      "id": "node-split",
      "name": "Split Suburbs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "suburb_data",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "suburb":        "={{ $json.name }}",
            "median_price":  "={{ $json.median }}",
            "dom":           "={{ $json.dom }}",
            "clearance_rate":"={{ $json.clearance }}",
            "rental_yield":  "={{ $json.rental_yield }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "suburb",
              "condition": "textEquals",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Update Google Sheet Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst succeeded = items.filter(i => !i.json.error).length;\nconst failed = items.length - succeeded;\nconsole.log(`[RECOMELB] Sheet update complete: ${succeeded} rows updated, ${failed} failed`);\nreturn [{ json: { status: 'done', succeeded, failed } }];"
      },
      "id": "node-log-success",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.error('[RECOMELB] Scraper call failed:', JSON.stringify(input));\nreturn [{ json: { status: 'scraper_failed', response: input } }];"
      },
      "id": "node-log-failure",
      "name": "Log Scraper Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 460]
    }
  ],
  "connections": {
    "Every Monday 6am": {
      "main": [[{ "node": "Run Playwright Scraper", "type": "main", "index": 0 }]]
    },
    "Run Playwright Scraper": {
      "main":  [[{ "node": "Split Suburbs", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Log Scraper Failure", "type": "main", "index": 0 }]]
    },
    "Split Suburbs": {
      "main": [[{ "node": "Update Google Sheet Row", "type": "main", "index": 0 }]]
    },
    "Update Google Sheet Row": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "meta": {
    "instanceId": "recomelb",
    "templateCredsSetupCompleted": false
  }
}
